
.vscode/*
build/*

*.pyc
*.pyo

Thumbs.db

**/output

__pycache__

# C# test project and pymbs output for testing
*.csproj
**/project/bin
**/project/obj
test/csharp/project/*_der_state.cs
test/csharp/project/*_visual.cs
