.venv
.vscode
build

*.pyc
*.pyo

Thumbs.db
.DS_Store

**/output

__pycache__

# precompiled symbolics module
symbolics.pyd
symbolics.lib
symbolics.so

# C# test project and pymbs output for testing
*.csproj
**/project/bin
**/project/obj
test/csharp/project/*_der_state.cs
test/csharp/project/*_visual.cs
