.venv
.vscode
.idea
build

*.pyc
*.pyo

Thumbs.db
.DS_Store

**/output

__pycache__

# tool settings
*.sublime-project
*.sublime-workspace
.spyproject

# precompiled symbolics module
symbolics.pyd
symbolics.lib
symbolics.so

# C# test project and pymbs output for testing
*.csproj
**/project/bin
**/project/obj
test/csharp/project/*_der_state.cs
test/csharp/project/*_visual.cs
